apiVersion: apps/v1
kind: Deployment
metadata:
  name: issuebell
  namespace: issuebell
  labels:
    app: issuebell
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: issuebell
  template:
    metadata:
      labels:
        app: issuebell
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        fsGroup: 1001
      containers:
        - name: issuebell
          image: ghcr.io/back1ash/issuebell@sha256:7e361801ce807c5782a05c2051481b9c81e99df06b75f35a1472f4c079c3c561
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: issuebell-config
            - secretRef:
                name: issuebell-secret
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 2
            periodSeconds: 5
