apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: issuebell
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # storageClassName: "" # set if your cluster requires a specific class
