apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: issuebell-data
  namespace: issuebell
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  # storageClassName: "" # set if your cluster requires a specific class
